img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.main {
  max-width: 340px;
  width: 100%;
  margin: 0 auto;
  padding: 15px 10px;
  border: 2px solid #eee;
  border-radius: 5px;
}
.display {
  align-items: center;
  display: flex;
  margin-bottom: 20px;
  gap: 10px;
  max-height: 100px;
  justify-content: space-between;
}
.display-logo img {
  max-height: 60px;
  border-radius: 5px;
}
.display-main span {
  font-size: 4rem;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.button {
  width: 70px;
  height: 70px;
  font-size: 4rem;
}

@media (max-width: 450px) {
  body {
    padding: 20px 10px;
  }
  .display {
    flex-direction: column;
    position: relative;
  }
  .display-logo {
    position: absolute;
    transform: translateY(-50%);
    bottom: 50%;
  }
  .display-main {
    padding-top: 30px;
  }
  .display-main span {
    font-size: 3.5rem;
  }
  .button {
    width: 60px;
    height: 60px;
  }
}
